@charset "UTF-8";
/*! 
 * Theme: Copenhagen
 * Author: Philwebservices
 * Version: 1.5
 * 
 */
@font-face {
  font-family: 'brandon_ita';
  src: url('../fonts/brandon_reg_it-webfont.eot');
  src: url('../fonts/brandon_reg_it-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/brandon_reg_it-webfont.woff') format('woff'), url('../fonts/brandon_reg_it-webfont.ttf') format('truetype'), url('../fonts/brandon_reg_it-webfont.svg#brandon_grotesqueRgIt') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'brandon';
  src: url('../fonts/brandon_reg-webfont.eot');
  src: url('../fonts/brandon_reg-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/brandon_reg-webfont.woff') format('woff'), url('../fonts/brandon_reg-webfont.ttf') format('truetype'), url('../fonts/brandon_reg-webfont.svg#brandon_grotesque_regularRg') format('svg');
  font-weight: normal;
  font-style: normal;
}
.t-huge {
  font-size: 76px;
}
.t-large {
  font-size: 60px;
}
body {
  font-family: 'brandon';
  font-size: 13px;
}
.brand {
  margin-top: 30px;
}
@-webkit-keyframes bounceInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes bounceInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    transform: translateX(2000px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    transform: translateX(-30px);
  }
  80% {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
.right-carret {
  background: url("../i/arrow.png") no-repeat;
  background-position: center;
  width: 30px;
  display: block;
  margin-right: 10px;
  float: left;
}
.select2-container {
  margin: 0;
  position: relative;
  display: block;
  /* inline-block for ie7 */
  zoom: 1;
  *display: inline;
  vertical-align: middle;
  padding: 0!important;
  border: 0!important;
}
.select2-container,
.select2-drop,
.select2-search,
.select2-search input {
  /*
    Force border-box so that % widths fit the parent
    container without overlap because of margin/padding.
s
    More Info : http://www.quirksmode.org/css/box.html
  */
  -webkit-box-sizing: border-box;
  /* webkit */
  -moz-box-sizing: border-box;
  /* firefox */
  box-sizing: border-box;
  /* css3 */
}
.select2-container .select2-choice {
  display: block;
  height: 36px;
  font-size: 14px;
  padding: 0 0 0 8px;
  overflow: hidden;
  position: relative;
  border: 1px solid #B8B8B8;
  white-space: nowrap;
  line-height: 25px;
  color: #515151!important;
  text-decoration: none;
  border-radius: 3px;
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  filter: inherit;
}
.select2-container.select2-drop-above .select2-choice {
  border-bottom-color: #aaa;
  border-radius: 0;
  filter: inherit;
}
.select2-container.select2-allowclear .select2-choice .select2-chosen {
  margin-right: 42px;
}
.select2-container .select2-choice > .select2-chosen {
  margin-right: 26px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 4px;
  margin-left: 4px;
}
.select2-container .select2-choice abbr {
  display: none;
  width: 12px;
  height: 12px;
  position: absolute;
  right: 24px;
  top: 8px;
  font-size: 1px;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  outline: 0;
}
.select2-container.select2-allowclear .select2-choice abbr {
  display: inline-block;
}
.select2-container .select2-choice abbr:hover {
  background-position: right -11px;
  cursor: pointer;
}
.select2-drop-mask {
  border: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 9998;
  /* styles required for IE to work */
  background-color: #fff;
  filter: alpha(opacity=0);
}
.select2-drop {
  width: 100%;
  margin-top: -1px;
  position: absolute;
  z-index: 9999;
  top: 100%;
  background: #fff;
  color: #000;
  border: 1px solid #969696;
  border-top: 0;
  border-radius: 0 0 3px 3px;
}
.select2-drop-auto-width {
  border-top: 1px solid #aaa;
  width: auto;
}
.select2-drop-auto-width .select2-search {
  padding-top: 4px;
}
.select2-drop.select2-drop-above {
  margin-top: 1px;
  border-top: 1px solid #aaa;
  border-bottom: 0;
  border-radius: 0;
}
.select2-drop-active {
  border: 1px solid #D9AD43;
  border-top: none;
  z-index: 99999;
}
.select2-drop.select2-drop-above.select2-drop-active {
  border-top: 1px solid #c6a75b;
}
.select2-container .select2-choice .select2-arrow {
  display: inline-block;
  width: 38px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-clip: padding-box;
}
.select2-container .select2-choice .select2-arrow b {
  display: block;
  width: 100%;
  text-align: center;
  height: 100%;
  line-height: 1.4;
  font-size: 26px;
}
.select2-search {
  display: inline-block;
  width: 100%;
  min-height: 26px;
  margin: 0;
  padding-left: 4px;
  padding-right: 4px;
  position: relative;
  z-index: 10000;
  white-space: nowrap;
}
.select2-search input {
  width: 100%;
  height: auto !important;
  min-height: 26px;
  padding: 4px 20px 4px 5px;
  margin: 0;
  outline: 0;
  font-family: sans-serif;
  font-size: 1em;
  border: 1px solid #aaa;
  border-radius: 0;
  background: #ffffff url('../i/select2/select2.png') no-repeat 100% -22px;
}
.select2-drop.select2-drop-above .select2-search input {
  margin-top: 4px;
}
.select2-search input.select2-active {
  background: #ffffff url('../i/select2/select2-spinner.gif') no-repeat 100%;
}
.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
  border: 1px solid #D9AD43;
  outline: none;
}
.select2-dropdown-open .select2-choice {
  border-bottom-color: #D9AD43!important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #FFF;
}
.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
  border: 1px solid #c6a75b;
  border-top-color: transparent;
  filter: inherit;
}
.select2-dropdown-open .select2-choice .select2-arrow {
  background: transparent;
  border-left: none;
  filter: none;
}
.select2-dropdown-open .select2-choice .select2-arrow b {
  background-position: -18px 1px;
}
/* results */
.select2-results {
  max-height: 200px;
  padding: 0 0 0 4px;
  margin: 4px 4px 4px 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.select2-results ul.select2-result-sub {
  margin: 0;
  padding-left: 0;
}
.select2-results ul.select2-result-sub > li .select2-result-label {
  padding-left: 20px;
}
.select2-results ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 40px;
}
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 60px;
}
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 80px;
}
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 100px;
}
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 110px;
}
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 120px;
}
.select2-results li {
  list-style: none;
  display: list-item;
  background-image: none;
}
.select2-results li.select2-result-with-children > .select2-result-label {
  font-weight: bold;
}
.select2-results .select2-result-label {
  padding: 3px 7px 4px;
  margin: 0;
  cursor: pointer;
  min-height: 1em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.select2-results .select2-highlighted {
  background: #D9AD43;
  color: #fff;
}
.select2-results li em {
  background: #feffde;
  font-style: normal;
}
.select2-results .select2-highlighted em {
  background: transparent;
}
.select2-results .select2-highlighted ul {
  background: #fff;
  color: #000;
}
.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-selection-limit {
  background: #f4f4f4;
  display: list-item;
}
/*
disabled look for disabled choices in the results dropdown
*/
.select2-results .select2-disabled.select2-highlighted {
  color: #666;
  background: #f4f4f4;
  display: list-item;
  cursor: default;
}
.select2-results .select2-disabled {
  background: #f4f4f4;
  display: list-item;
  cursor: default;
}
.select2-results .select2-selected {
  display: none;
}
.select2-more-results.select2-active {
  background: #f4f4f4 url('../i/select2/select2-spinner.gif') no-repeat 100%;
}
.select2-more-results {
  background: #f4f4f4;
  display: list-item;
}
/* disabled styles */
.select2-container.select2-container-disabled .select2-choice {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default;
}
.select2-container.select2-container-disabled .select2-choice .select2-arrow {
  background-color: #f4f4f4;
  background-image: none;
  border-left: 0;
}
.select2-container.select2-container-disabled .select2-choice abbr {
  display: none;
}
/* multiselect */
.select2-container-multi .select2-choices {
  height: auto !important;
  height: 1%;
  margin: 0;
  padding: 0;
  position: relative;
  border: 1px solid #D5D5D5;
  cursor: text;
  overflow: hidden;
  border-radius: 4px;
  background-color: #fff;
}
.select2-locked {
  padding: 3px 5px 3px 5px !important;
}
.select2-container-multi .select2-choices {
  min-height: 24px;
}
.select2-container-multi.select2-container-active .select2-choices {
  border: 1px solid #5897fb;
  outline: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.select2-container-multi .select2-choices li {
  float: left;
  list-style: none;
}
.select2-container-multi .select2-choices .select2-search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.select2-container-multi .select2-choices .select2-search-field input {
  padding: 5px;
  margin: 1px 0;
  font-family: sans-serif;
  font-size: 100%;
  color: #666;
  outline: 0;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent !important;
}
.select2-container-multi .select2-choices .select2-search-field input.select2-active {
  background: #ffffff url('../i/select2/select2-spinner.gif') no-repeat 100% !important;
}
.select2-default {
  color: #999 !important;
}
.select2-container-multi .select2-choices .select2-search-choice {
  padding: 4px 5px 4px 18px;
  margin: 3px 0 3px 5px;
  position: relative;
  line-height: 13px;
  color: #333;
  cursor: default;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #e4e4e4;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#f4f4f4', GradientType=0);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
}
.select2-container-multi .select2-choices .select2-search-choice .select2-chosen {
  cursor: default;
}
.select2-container-multi .select2-choices .select2-search-choice-focus {
  background: #d4d4d4;
}
.select2-search-choice-close {
  display: block;
  width: 12px;
  height: 13px;
  position: absolute;
  right: 3px;
  top: 4px;
  font-size: 1px;
  outline: none;
}
.select2-container-multi .select2-search-choice-close {
  left: 4px;
}
.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover {
  background-position: right -11px;
}
.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close {
  background-position: right -11px;
}
/* disabled styles */
.select2-container-multi.select2-container-disabled .select2-choices {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default;
}
.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
  padding: 3px 5px 3px 5px;
  border: 1px solid #ddd;
  background-image: none;
}
.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {
  display: none;
  background: none;
}
/* end multiselect */
.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-match {
  text-decoration: underline;
}
.select2-offscreen,
.select2-offscreen:focus {
  clip: rect(0 0 0 0) !important;
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  outline: 0 !important;
  left: 0px !important;
  top: 0px !important;
  border: 0;
}
.select2-display-none {
  display: none;
}
.select2-measure-scrollbar {
  position: absolute;
  top: -10000px;
  left: -10000px;
  width: 100px;
  height: 100px;
  overflow: scroll;
}
/* Retina-ize icons */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  .select2-search input,
  .select2-search-choice-close,
  .select2-container .select2-choice abbr,
  .select2-container .select2-choice .select2-arrow b {
    background-image: url('../i/select2/select2x2.png') !important;
    background-repeat: no-repeat !important;
    background-size: 60px 40px !important;
  }
  .select2-search input {
    background-position: 100% -21px !important;
  }
}
.section-stats {
  background: #2b2d38;
  color: #fff;
  text-align: center;
  padding: 50px 0;
}
.section-stats h3 {
  margin: 0 0;
}
.section-l1 {
  padding: 100px 0;
}
.section-title {
  text-align: center;
  width: 100%;
}
.navbar-default {
  background: none;
  border: none;
}
.navbar-default .navbar-nav li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}
.navbar-default .navbar-nav li a:hover {
  color: #3fb7e9;
}
.nav-top {
  border-bottom: 1px solid #515151;
}
.nav-top .navbar-nav li {
  color: #fff;
}
.nav-top .navbar-nav li a {
  color: #fff;
}
.nav-top .navbar-nav li a:hover {
  color: #3fb7e9;
  background: none;
}
.nav-top .navbar-nav li a .contact {
  padding-left: 0px;
}
.nav-top .navbar-nav li:first-child a {
  padding-left: 0;
}
.nav-top .contact li {
  list-style-type: square;
}
.nav-top .contact li:first-child {
  list-style-type: none;
}
.nav-top .contact li:first-child span:before {
  content: '|';
  position: absolute;
  left: -2px;
}
.nav-top .contact li span {
  position: relative;
  display: block;
  padding: 16px 10px;
}
.nav-top .contact li a {
  padding: 15px 6px;
}
.slider {
  background: url("../i/bannerbg.png") no-repeat;
  background-color: #101622;
  background-position: center;
  min-height: 770px;
  text-align: center;
  padding-top: 100px;
}
.slider .control-nav {
  width: 195px;
  margin: auto;
  height: 5px;
  padding-left: 0;
  list-style: none;
}
.slider .control-nav li {
  float: left;
  padding: 0 2px;
}
.slider .control-nav li a {
  background: #515151;
  text-decoration: none;
  display: block;
  width: 60px;
  height: 5px;
}
.slider .control-nav li a:hover {
  background: #00bbff;
}
.slides {
  padding-left: 0;
  color: #fff;
}
.slides h1 {
  width: 50%;
}
.slides li {
  position: relative;
}
.slides .slider-tolltip {
  letter-spacing: 1px;
  text-align: right;
}
.slides .slider-tolltip a {
  float: right;
}
.slides .slider-tolltip h2 {
  border-bottom: 1px solid #515151;
  padding: 10px 0;
}
.slides .slider-tolltip p {
  color: #9c9c9c;
}
.slides .slider-tolltip a {
  font-family: 'brandon_ita';
}
.slides .slider-tolltip a:hover {
  color: #428bca;
}
.slides .tolltip-marker {
  content: "• ";
  color: red;
  /* or whatever color you prefer */
}
.slides .slide-desc {
  position: absolute;
  letter-spacing: 1px;
  text-align: left;
  margin: 0;
  color: #fff;
}
.t-header {
  background: #101622;
}
ul {
  list-style: none;
}
.title-l1 {
  border-bottom: #fff200 4px solid;
  padding-bottom: 10px;
  margin-bottom: 25px;
}
.mt-10 {
  margin-top: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mtb-20 {
  margin: 20px auto;
}
