ul {
  list-style: none;
}
.title-l1 {
  border-bottom: #fff200 4px solid;
  padding-bottom: 10px;
  margin-bottom: 25px;
}
.mt-10 {
  margin-top: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mtb-20 {
  margin: 20px auto;
}
