body {
  font-family: 'brandon';
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  color: #000;
}
body ::selection {
  background: #3fb7e9;
  /* Safari */
  color: #fff;
}
body ::-moz-selection {
  background: #3fb7e9;
  /* Firefox */
  color: #fff;
}
img {
  display: block;
}
p {
  margin: 0 0 30px 0;
  line-height: 27px;
}
a {
  color: #00bbff;
}
a:hover {
  color: #00bbff;
}
